<%= form_with model: item, local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, class: :form__text, id:"item_name" %>
  </div>

  <div class="field">
    <%= f.label :quantity, "数量" %><br />
    <%= f.number_field :quantity, class: :form__text, min: 1, max: 100, id:"item_quantity"%>
  </div>

  <div class="field">
    <%= f.label :purchase_date, "購入日" %><br />
    <%= f.date_field :purchase_date, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :expiration_date, "賞味期限" %><br />
    <%= f.date_field :expiration_date, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :memo, "メモ" %><br />
    <%= f.text_area :memo, class: :form__text, id:"item_memo" %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"item_image" %>
  </div>

  <div class="actions">
    <%= f.submit "追加", class: :form__btn  %>
  </div>
<% end %>