<input id="arr_json" type="hidden" value="<%= @items.length %>" class='arr_json'/>
<% @items.each_with_index do |item, i| %>
  <div class="content">
  <div class="image-content">
    <%= link_to image_tag(item.image.variant(resize: '200x200'), class: :card__img ), item_path(item) %>
  </div>  
  <div class="sub-content">
    <div id="name<%=i %>"> <%= item.name %></div>
  </div>
  <div class="sub-content">
    <span>賞味期限</span>
    <div id="expiration-date<%=i %>"><%= item.expiration_date %></div>
  </div>
  <div class="daysleft-content">
      <span id="dead-line<%=i %>">残り<span id="days-left<%=i %>"></span>日</span>
  </div>
  <div class="btn-content">
  <div class="nickname-content">
      <a href="/users/<%= item.user.id %>"></a>
      <%= item.user.nickname %>
  </div>
  </div>
  </div>
<% end %> 