<main class="main">
  <div class="inner">
  <div class=search-block>
    <div class=search-select>
    <%= form_with url: indicate_items_path, method: :get, local: true do |f| %>
       <i class="fas fa-sort" style="color: #808080;"></i>
      <% if @sorted.present? %>
        <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();" %>
      <% else %>
        <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();", class: "form-inline ml-2" %>
      <% end %>
    <% end %>
    </div>
    <div class="search-box">
    <%= form_with(url: seek_items_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, class: "search-input" %><i class="fas fa-search fa-1x fa-fw" style="color: #808080;"></i>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    </div>
    </div>
  <div class="card-wrapper">
    <%= render partial: "item" %>
  </div>
    <p class="tb"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="medium" data-hashtags="FRiDGE私の冷蔵庫" data-text="FRiDGE~私の冷蔵庫~" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a></p> 
  </div>
</main>