<main class="main">
  <div class="inner">
    <div class="item-wrapper">
      <div class="item-heading">
        詳細
      </div>
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <div class="item-manage">
          <%= link_to "編集", edit_item_path(@item), class: :item__btn %>
          <%= link_to "削除", item_path(@item), method: :delete, class: :item__btn %>
        </div>
      <% end %>
      <div class="item_block">
        <div class="item_card">
            <div class="image-content">
              <%= link_to image_tag(@item.image.variant(resize: '200x200'), class: :card__img ) %>
            </div>

            <div class="daysleft-detail">
                <span id="dead_line">残り<span id="days_left"></span>日</span>
            </div>
            
            <div class="item-detail">
              <p class="detail__message">
                <%= @item.name %>
              </p>
            </div>
            <div class="item-detail">
              <p class="detail__title">数量</p>
              <p class="detail__message">
                <%= @item.quantity %>
              </p>
            </div>
            <div class="item-detail">
              <p class="detail__title">購入日</p>
              <p id="purchase_date">
                <%= @item.purchase_date %>
              </p>
            </div>
            <div class="item-detail">
              <p class="detail__title">賞味期限</p>
              <p id="expiration_date">
                <%= @item.expiration_date %>
              </p>
            </div>

            <% if @item.memo.present? %>
            <div class="item-detail">
              <p class="detail__title">メモ</p>
              <p class="detail__message">
                <%= @item.memo %>
              </p>
            </div>
            <% end %>
            <div class="btn-contents">
              <div class="back-btn">
               <%= link_to "戻る", root_path %>
              </div>
              <div class="nickname-content">
                <a href="/users/<%= @item.user.id %>"></a>
                <%= @item.user.nickname %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
