<main class="main">
  <div class="inner">
   <%= search_form_for @p, url: products_search_path do |f| %>
      <ul class="cp_point">
        <li><i class="fas fa-search fa-1x fa-fw" style="color: #808080;"></i><%= f.label :name, 'キーワード：' %>
        <%= f.search_field :name_cont %>
        </li>
        <br>
        <li><%= f.label :name_eq, '品目：' %>
        <%= f.collection_select :name_eq, @product_name, :name, :name, include_blank: '選択する' %>
        </li>
        <br>
        <li>
        <%= f.label :category_name_eq, 'カテゴリー：' %>
        <%= f.collection_select :category_name_eq, @category_name, :name, :name, include_blank: '選択する' %>
        </li>
        <br>
        <li>
        <%= f.label :shelf_life, '保存期間：' %>
        <%= f.radio_button :shelf_life_lteq, '7' %>
        1週間以内
        <%= f.radio_button :shelf_life_lteq, '14' %>
        2週間以内
        <%= f.radio_button :shelf_life_lteq, '21' %>
        3週間以内
        <%= f.radio_button :shelf_life_lteq, '30' %>
        1ヶ月以内
        <%= f.radio_button :shelf_life_lteq, '90' %>
        3ヶ月以内
        </li>
        <br>
        <li>
        <%= f.label :frozen_life_eq, '冷凍：' %>
        <%= f.radio_button :frozen_life_eq, '21' %>
        3週間
        <%= f.radio_button :frozen_life_eq, '30' %>
        1ヶ月
        <%= f.radio_button :frozen_life_eq, '60' %>
        2ヶ月
        <%= f.radio_button :frozen_life_eq, '180' %>
        6ヶ月
        </li>
        <br>
        <%= f.submit '検索', class: :form__btn %>
      </ul> 
      <% end %>
      <table class="cp_table">
        <thead>
        <tr>
        <th scope="column"><%= sort_order "name", "品目" %></th>
        <th scope="column"><%= sort_order "shelf_life", "保存期間" %></th>
        <th scope="column" ><%= sort_order "frozen_life", "冷凍" %></th>
        <th>メモ</th>
        </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.shelf_life %>日</td>
              <td><%= product.frozen_life %>日</td>
              <td><%= product.info %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <br>
    <br>
  </div>
</main>