<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tag %>
    <title>FRiDGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>
  <body>
    <%= render "layouts/header" %>

    <%= javascript_link_tag 'application' %>

    <%= yield %>
    
  </body>
  <footer class="footer">
    <p class="copyright">Copyrigt © 2021 FRiDGE All rights reserved.</p>
  </footer>
</html>
